body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {

}

canvas {
  height: 75vh;
  max-width: 1920px;
    flex-grow: 1;
}

main{
    display: flex;
    flex-direction: column;
    background: #000;
    height: 100%;
}
#desc{
    color: white;
}
section{
    flex-shrink: 0;
    background-color: black;
    color: white;
    height: calc(100vh - 75vh);
}
